@using Model.Dao
@using ClsCommon
@model List<Model.ViewModel.ProductViewModel>
@{
    var category = (Model.EF.Category)ViewBag.Category;
    var unit = (Model.EF.Unit)ViewBag.Unit;
    long categoryId = 0;
    var Title = "";
    if (unit != null)
    {
        Title = unit.Title;
    }
    else
    {
        Title = category.Name;
    }
    if (category != null)
    {
        categoryId = category.ID;
    }
    var TitleCategory = ViewBag.TitleCategory;
    var TitleUnit = ViewBag.TitleUnit;
    var TitleProductCategoryParent = ViewBag.TitleProductCategoryParent;
    if (ViewBag.TitleProductCategory != "")
    {
        TitleProductCategoryParent = ViewBag.TitleProductCategory;
    }

    ViewBag.Title = Title;
    var productCategoryDao = new ProductCategoryDao();
    var productCategoryUnitDao = new ProductCategoryUnitDao();
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@section jsFooter{

}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <section class="home-suggest-section">
                <div class="section-head">
                    <div class="section-title">
                        <div class="section-title-decoration"></div>
                        <div class="section-title-text">@Title</div>
                        <div class="section-title-decoration"></div>
                    </div>
                </div>
                <div class="">
                    <div class="home-suggest-block">
                        <div class="row hidden">
                            <div class="col-md-6">
                                <div class="block-head">
                                    <div class="block-head-title" id="Breadcrumbs"></div>
                                </div>
                            </div>
                            <div class="col-md-6 pull-right">
                                <div class="liquid-filter-items justify-content-between align-items-center">
                                    <div class="liquid-filter-items-inner" style="float:right;">
                                        &nbsp;
                                        <!--
                                        <ul class="filter-list filter-list-inline mb-0" id="pf-grid-3">
                                            <li class="active" data-filter="*"><span>Trần thạch cao</span></li>
                                            <li data-filter=".brand"><span>Gạch ốp tường</span></li>
                                            <li data-filter=".digital"><span>Ván lót sàn</span></li>
                                        </ul> -->
                                        <a href="@CommonConstants.DomainName/danh-muc/san-pham-1.html" class="mz-btn mz-btn-primary mz-btn-sm mz-btn-bdr-round tab-view-more-btn"> Xem tất cả </a>
                                    </div>
                                    <!-- /.liquid-filter-items-inner -->
                                </div>
                                <!-- /.liquid-filter-items -->
                            </div>
                        </div>
                        <!---->
                        <div class="block-body">
                            <div class="product-suggest-card-wrap row liquid-portfolio-list-row" data-liquid-masonry="true" data-masonry-options="{ &quot;filtersID&quot;: &quot;#pf-grid-3&quot; }" style="position: relative; height: 465.5px;">
                                @foreach (var item in Model)
                                {
                                    var link = CommonConstants.DomainName + "/chi-tiet/" + item.MetaTitle + "-" + item.ID;
                                    var images = CommonConstants.DomainName + item.Images;
                                    <div class="col-md-3 masonry-item digital" style="position: absolute; left: 0px; top: 0px;">
                                        <div class="product-card product-item" data-merchant-id="ATVPDKIKX0DER">
                                            <a href="@link" class="product-card__img-field">
                                                <span class="product-card__img-field-inner">
                                                    <img src="@images" alt="@item.Name" data-src="@images" class="product-card__img">
                                                </span>
                                            </a>
                                            <a href="@link" class="product-card__title">@item.Name</a>
                                            <span>@item.CateName</span>
                                            <div class="product-card__loading-wrap">
                                                <div class="product-card__info-row">
                                                    <div class="product-card__price-col">
                                                        <div class="product-card__current-price">@(item.Price.HasValue ? item.Price.Value.ToString("N0") : "Liên hệ") vnđ </div>
                                                        <!---->
                                                    </div>
                                                    <div class="product-card__interactive-btn-col">
                                                        <a href="@CommonConstants.DomainName/them-gio-hang?productId=@item.ID&quantity=1" title="Thêm vào giỏ hàng" class="mz-btn mz-btn-gray mz-btn-bdr-circle mz-btn-md product-card__add-cart-btn">
                                                            <div class="mz-btn__icon-col"><i class="fal fa-cart-plus"></i></div>
                                                        </a>
                                                    </div>
                                                </div>
                                                <!---->
                                            </div>
                                        </div>
                                    </div>
                                }

                                <!---->
                            </div>
                        </div>
                    </div>

                </div>
                <!---->

            </section>
            <div class="clear"></div>
            <!--Phân trang-->
            @if (ViewBag.TotalPage > 1)
            {
                var pageDisplay = (int)ViewBag.MaxPage;
                int totalPage = (int)ViewBag.TotalPage;
                int currentPage = ((int)ViewBag.Page);

                // Create numeric links
                var startPageIndex = Math.Max(1, currentPage - pageDisplay / 2);
                var endPageIndex = Math.Min(totalPage, currentPage + pageDisplay / 2);
                var link = CommonConstants.DomainName + "/nhanh-san-pham/";
                var _category = new CategoryDao().ViewDetail(ViewBag._cateId);
                if (_category != null)
                {
                    link += _category.MetaTitle + "-" + _category.ID;
                }
                var _unit = new UnitDao().ViewDetail(ViewBag._UnitId);
                if (_unit != null)
                {
                    link += "/" + _unit.MetaTitleUnit + "-" + _unit.Id;
                }
                var _productCategory = new ProductCategoryDao().ViewDetail(ViewBag._ProductCategoryParentId);
                if (_productCategory != null)
                {
                    link += "/" + _productCategory.MetaTitle + "-" + _productCategory.Id;
                }
                <nav>
                    <ul class="pagination">
                        @if (currentPage > ViewBag.First)
                        {
                            <li><a href="@link?page=@ViewBag.First" title="Trang đầu" class="first"><i class="fa fa-angle-double-left"></i></a></li>
                            <li>
                                <a href="@link?page=@ViewBag.Prev" title="Trang trước" class="prev"><i class="fa fa-angle-left"></i></a>
                            </li>

                        }
                        @for (int i = startPageIndex; i <= endPageIndex; i++)
                        {
                            if (currentPage == i)
                            {

                                <li> <a href="@link?page=@i" class="active" title="Trang @i">@i</a></li>
                            }
                            else
                            {
                                <li><a href="@link?page=@i" title="Trang @i" class="pos">@i</a></li>
                            }
                        }
                        @if (currentPage < totalPage)
                        {
                            <li><a href="@link?page=@ViewBag.Next" class="next" title="Trang sau"><i class="fa fa-angle-right"></i></a></li>
                            <li> <a href="@link?page=@ViewBag.Last" class="last" title="Trang cuối"><i class="fa fa-angle-double-right"></i></a></li>
                        }

                    </ul>
                </nav>

            }
            else
            {
                <span>Không có bản ghi nào</span>
            }
        </div>
    </div>
    <input type="hidden" id="CATEGORY_ID" name="CATEGORY_ID" value="@ViewBag._cateId" />
    <input type="hidden" id="UNIT_ID" name="UNIT_ID" value="@ViewBag._UnitId" />
    <input type="hidden" id="PRODUCTCATEGORY_PARENTID" name="PRODUCTCATEGORY_PARENTID" value="@ViewBag._ProductCategoryParentId" />
    <input type="hidden" id="PRODUCTCATEGORY_ID" name="PRODUCTCATEGORY_ID" value="@ViewBag._ProductCategoryId" />
</div>