@model Model.EF.Store

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/ecab/_Layouts.cshtml";
}

@section header{
    Cập nhật gian hàng
}
@section jsFooter{
    <script src="~/assets/jscontroller/StoreController.js"></script>
    <script>
        var URL_APPLICATION = $('#URL_APPLICATION').val();
        var ImgLogo = $("#ImgLogo").val();
        $("#myUploadedLogo").attr("src", URL_APPLICATION + ImgLogo);
        var HeaderImage = $("#HeaderImage").val();
        $("#myUploadedHeaderImage").attr("src", URL_APPLICATION + HeaderImage);
        $("#fileAttach tbody").append($('#hidListFile').val());
    </script>
    <script>
         var editor = CKEDITOR.replace('Description', {
            toolbarGroups: [
                            { name: 'document', groups: ['mode', 'document'] },
                            { name: 'insert' },
	                    ]
            //customConfig: '~/Scripts/plugins/ckeditor/config.js',
        });
        function cancel() {
            window.history.back();
        }
        function RemoveRow(i) {
            $("#fileAttach tbody #" + i).remove();

        }
        function getAllImages() {
            var strLink = "";
            var strComment = "";
            $("#fileAttach tbody tr td p").parent().find('input').each(function (e) {
                strLink += $(this).val() + "|";
            });
            $("#fileAttach tbody tr td textarea").each(function (e) {
                strComment += $(this).val() + "|";
            });
            $("#hidFileLinkDown").val(strLink + '0');
            $("#hidFileNote").val(strComment + '0');
            return true;
        }
        $('#btnSelectImage').on('click', function (e) {
            e.preventDefault();
            var finder = new CKFinder();
            finder.selectActionFunction = function (url) {
                var index = $('#hidIndexFile').val();
                $("#fileAttach tbody").append("<tr id='" + index + "'><td><p><input type='hidden' id='link" + index + "' value='" + url + "'><img src='" + url + "' width='100' height='100'></p></td><td><textarea id='TextArea1' cols='40' rows='4'></textarea></td><td><a onclick='RemoveRow(" + index + ");'>Xóa</a></td></tr>");
                $('#hidIndexFile').val(parseInt(index) + 1);
            };
            finder.popup();
        })

        $('#btnSelectLogo').on('click', function (e) {
            e.preventDefault();
            var finder = new CKFinder();
            finder.selectActionFunction = function (url) {
                $('#ImgLogo').val(url);
                $("#myUploadedLogo").attr("src", url);
            };
            finder.popup();
        })

        $('#btnSelectHeaderImage').on('click', function (e) {
            e.preventDefault();
            var finder = new CKFinder();
            finder.selectActionFunction = function (url) {
                $('#HeaderImage').val(url);
                $("#myUploadedHeaderImage").attr("src", url);
            };
            finder.popup();
        })
        //
            $("#QuyMoVon").val(Formatcurrency($("#QuyMoVon").val()).replace(/,/g, "."));
            $("#NhanLuc").val(Formatcurrency($("#NhanLuc").val()).replace(/,/g, "."));
            $("#DoanhThu").val(Formatcurrency($("#DoanhThu").val()).replace(/,/g, "."));
            $("#LoiNhuan").val(Formatcurrency($("#LoiNhuan").val()).replace(/,/g, "."));
        //
    </script>
}
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                @using (@Html.BeginForm("Edit", "Store", FormMethod.Post, new { id = "formStore", @class = "frmStyle" }))
                {
                    <div class="row">
                        <div class="col-lg-12">
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group row">
                                @Html.LabelFor(model => model.Title, "Tên gian hàng", htmlAttributes: new { @class = "control-label col-lg-2 col-sm-2" })
                                <div class="col-lg-9 col-sm-9">
                                    @Html.TextBoxFor(model => model.Title, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group row">
                                @Html.LabelFor(model => model.Slogan, "Slogan", htmlAttributes: new { @class = "control-label col-lg-2 col-sm-2" })
                                <div class="col-lg-9 col-sm-9">
                                    @Html.TextBoxFor(model => model.Slogan, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Slogan, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group row">
                                @Html.LabelFor(model => model.HoTen, "Thuộc đơn vị", htmlAttributes: new { @class = "control-label col-lg-2 col-sm-2" })
                                <div class="col-lg-9 col-sm-9">
                                    @Html.TextBoxFor(model => model.HoTen, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.HoTen, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group row">
                                @Html.LabelFor(model => model.ImgLogo, "Logo", htmlAttributes: new { @class = "control-label col-lg-2 col-sm-2" })
                                <div class="col-lg-3 col-sm-3">
                                    @Html.TextBoxFor(model => model.ImgLogo, htmlAttributes: new { @class = "form-control hidden" })
                                    <button type="button" id="btnSelectLogo" class="btn btn-sm btn-success" title="Chọn ảnh"><i class="fa fa-cloud-upload"></i> Chọn ảnh</button>
                                    <img id="myUploadedLogo" alt="Photo" style="width:180px;" />
                                </div>
                                @Html.LabelFor(model => model.HeaderImage, "Header Image", htmlAttributes: new { @class = "control-label col-lg-2 col-sm-2" })
                                <div class="col-lg-3 col-sm-3">
                                    @Html.TextBoxFor(model => model.HeaderImage, htmlAttributes: new { @class = "form-control hidden" })
                                    <button type="button" id="btnSelectHeaderImage" class="btn btn-sm btn-success" title="Chọn ảnh"><i class="fa fa-cloud-upload"></i> Chọn ảnh</button>
                                    <img id="myUploadedHeaderImage" alt="Photo" style="width:180px;" />
                                </div>
                            </div>

                            <div class="form-group row">
                                @Html.LabelFor(model => model.Description, "Bài giới thiệu", htmlAttributes: new { @class = "control-label col-lg-2 col-sm-2" })
                                <div class="col-lg-9 col-sm-9">
                                    @Html.TextAreaFor(model => model.Description, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group row">
                                @Html.LabelFor(model => model.URLWEB, "Website", htmlAttributes: new { @class = "control-label col-lg-2 col-sm-2" })
                                <div class="col-lg-3 col-sm-3">
                                    @Html.TextBoxFor(model => model.URLWEB, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.URLWEB, "", new { @class = "text-danger" })
                                </div>
                                @Html.LabelFor(model => model.Email, "Email", htmlAttributes: new { @class = "control-label col-lg-2 col-sm-2" })
                                <div class="col-lg-4 col-sm-4">
                                    @Html.TextBoxFor(model => model.Email, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group row">
                                @Html.LabelFor(model => model.Zalo, "Zalo", htmlAttributes: new { @class = "control-label col-lg-2 col-sm-2" })
                                <div class="col-lg-3 col-sm-3">
                                    @Html.TextBoxFor(model => model.Zalo, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Zalo, "", new { @class = "text-danger" })
                                </div>
                                @Html.LabelFor(model => model.SkypeId, "Skype", htmlAttributes: new { @class = "control-label col-lg-2 col-sm-2" })
                                <div class="col-lg-4 col-sm-4">
                                    @Html.TextBoxFor(model => model.SkypeId, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.SkypeId, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group row">
                                @Html.LabelFor(model => model.Phone, "Số điện thoại", htmlAttributes: new { @class = "control-label col-lg-2 col-sm-2" })
                                <div class="col-lg-3 col-sm-3">
                                    @Html.TextBoxFor(model => model.Phone, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                                </div>
                                @Html.LabelFor(model => model.PhoneOther, "Số điện thoại khác", htmlAttributes: new { @class = "control-label col-lg-2 col-sm-2" })
                                <div class="col-lg-4 col-sm-4">
                                    @Html.TextBoxFor(model => model.PhoneOther, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.PhoneOther, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="control-label col-lg-2 col-sm-2" >Lĩnh vực</label>
                                <div class="col-lg-3 col-sm-3">
                                    @Html.DropDownListFor(model => model.LinhVucKinhDoanhId, null, htmlAttributes: new { @class = "form-control select2" })
                                </div>
                                @Html.LabelFor(model => model.NganhNgheName, "Mô tả ngành nghề", htmlAttributes: new { @class = "control-label col-lg-2 col-sm-2" })
                                <div class="col-lg-4 col-sm-4">
                                    @Html.TextAreaFor(model => model.NganhNgheName, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.NganhNgheName, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group row">
                                @Html.LabelFor(model => model.NhanLuc, "Nhân lực", htmlAttributes: new { @class = "control-label col-lg-2 col-sm-2" })
                                <div class="col-lg-3 col-sm-3">
                                    @Html.TextBoxFor(model => model.NhanLuc, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.NhanLuc, "", new { @class = "text-danger" })
                                </div>
                                @Html.LabelFor(model => model.QuyMoVon, "Quy mô vốn(VNĐ)", htmlAttributes: new { @class = "control-label col-lg-2 col-sm-2" })
                                <div class="col-lg-4 col-sm-4">
                                    @Html.TextBoxFor(model => model.QuyMoVon, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.QuyMoVon, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group row">
                                @Html.LabelFor(model => model.DoanhThu, "Doanh thu(VNĐ)", htmlAttributes: new { @class = "control-label col-lg-2 col-sm-2" })
                                <div class="col-lg-3 col-sm-3">
                                    @Html.TextBoxFor(model => model.DoanhThu, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.DoanhThu, "", new { @class = "text-danger" })
                                </div>
                                @Html.LabelFor(model => model.LoiNhuan, "Lợi nhuận(VNĐ)", htmlAttributes: new { @class = "control-label col-lg-2 col-sm-2" })
                                <div class="col-lg-4 col-sm-4">
                                    @Html.TextBoxFor(model => model.LoiNhuan, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.LoiNhuan, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group row">
                                @Html.LabelFor(model => model.Map, "Bản đồ nhúng", htmlAttributes: new { @class = "control-label col-lg-2 col-sm-2" })
                                <div class="col-lg-9 col-sm-9">
                                    @Html.TextAreaFor(model => model.Map, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Map, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group row">
                                @Html.LabelFor(model => model.DiaChi, "Địa chỉ", htmlAttributes: new { @class = "control-label col-lg-2 col-sm-2" })
                                <div class="col-lg-9 col-sm-9">
                                    @Html.TextAreaFor(model => model.DiaChi, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.DiaChi, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group row">
                                @Html.LabelFor(model => model.StoreImage, "Tập hình ảnh", htmlAttributes: new { @class = "control-label col-lg-2 col-sm-2" })
                                <div class="col-lg-9 col-sm-9">
                                    @Html.TextBoxFor(model => model.StoreImage, htmlAttributes: new { @class = "form-control hidden" })
                                    <button type="button" id="btnSelectImage" class="btn btn-sm btn-success" title="Chọn ảnh"><i class="fa fa-cloud-upload"></i> Chọn file</button>
                                    <div class="table-responsive">
                                        <table id="fileAttach" class="table table-striped table-bordered table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Hình ảnh</th>
                                                    <th>Mô tả</th>
                                                    <th>#</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                @Html.LabelFor(model => model.IsHot, "Nổi bật", htmlAttributes: new { @class = "control-label col-lg-3 col-sm-3" })
                                <div class="col-lg-9 col-sm-9">
                                    <div class="checkbox">
                                        @Html.CheckBoxFor(model => model.IsHot)
                                        @Html.ValidationMessageFor(model => model.IsHot, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            @Html.HiddenFor(m => m.StoreId)
                            @Html.HiddenFor(m => m.StatusId)
                            @Html.HiddenFor(m => m.hidIndexFile)
                            @Html.HiddenFor(m => m.hidFileNote)
                            @Html.HiddenFor(m => m.hidFileLinkDown)
                            @Html.HiddenFor(m => m.hidListFile)
                            <div class="form-group row">
                                <div class="control-label col-md-2 col-sm-2 col-xs-2"></div>
                                <div class="col-md-offset-2 col-lg-9 col-sm-9">
                                    <button type="button" class="btn btn-sm btn-success btnSave" title="Lưu"><i class="fa fa-save"></i> Lưu</button>
                                    <button class="btn btn-sm btn-primary" type="button" onclick="cancel();" title="Hủy"><i class="fa fa-reply"></i> Hủy</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>