@model Model.EF.Credential
@using Model.Dao
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/ecab/_Layouts.cshtml";
}

@section header{
    Vai Trò - chức năng
}
@section jsFooter{
    <script src="~/assets/jscontroller/CredentialController.js"></script>
    <script>
        function cancel() {
            window.history.back();
        }
        $(document).ready(function () {
            console.log("ready!");
        });
    </script>
}
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                @using (@Html.BeginForm("Create", "Credential", FormMethod.Post, new { id = "formPhanQuyen", @class = "frmStyle" }))
                {
                    <div class="row">
                        <div class="col-lg-12">
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div class="form-group row">
                                @Html.LabelFor(model => model.UserGroupID, "Vai Trò", htmlAttributes: new { @class = "control-label col-lg-2 col-sm-2" })
                                <div class="col-lg-9 col-sm-9">
                                    @Html.DropDownListFor(model => model.UserGroupID, null, htmlAttributes: new { @class = "form-control select2" })
                                    @Html.ValidationMessageFor(model => model.UserGroupID, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group row">
                                @Html.LabelFor(model => model.FunctionID, "Chức năng", htmlAttributes: new { @class = "control-label col-lg-2 col-sm-2" })
                                <div class="col-lg-9 col-sm-9 duc-custom-select2-single">
                                    @{
                                        var daoFunction = new SysFunctionDao();

                                    }
                                    <select style="width:100%" class="custom-select2-chucnang form-control select2" name="FunctionID" id="FunctionID">
                                        <option value="0">--Chọn--</option>
                                        @foreach (var item in daoFunction.ListAll(null).Where(x => x.ParentId == 0).OrderBy(x => x.isModule).ThenBy(x => x.DisplayOrder).ToList())
                                        {
                                            <option data-cap="" data-isModule="@item.isModule" data-icon="@item.Icons" value="@item.FunctionID">@item.FunctionName</option>
                                            foreach (var item2 in daoFunction.ListAll(null).Where(x => x.ParentId == @item.FunctionID).OrderBy(x => x.isModule).ThenBy(x => x.DisplayOrder).ToList())
                                            {
                                                <option data-cap="|__" data-isModule="@item2.isModule" data-icon="@item2.Icons" value="@item2.FunctionID">@item2.FunctionName</option>
                                                foreach (var item3 in daoFunction.ListAll(null).Where(x => x.ParentId == @item2.FunctionID).OrderBy(x => x.isModule).ThenBy(x => x.DisplayOrder).ToList())
                                                {
                                                    <option data-cap="|__" data-isModule="@item3.isModule" data-icon="@item3.Icons" value="@item3.FunctionID">@item3.FunctionName</option>
                                                }
                                            }
                                        }
                                    </select>
                                    @*@Html.DropDownListFor(model => model.FunctionID, null, htmlAttributes: new { @class = "form-control select2" })*@
                                    @Html.ValidationMessageFor(model => model.FunctionID, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            @*@foreach (var skill in ViewBag.lstSkills)
                                {
                                    <div style="padding-right:15px;margin-left:200px">
                                        <input id="@skill.FunctionID" type="checkbox" name="skill" value="@skill.FunctionID" />
                                        <label for="@skill.FunctionName">
                                            @skill.FunctionName
                                        </label>
                                    </div>
                                }*@
                            <div id="sysThaotacdulieu" class="col-md-8 col-sm-8 col-xs-12">
                            </div>
                            @Html.HiddenFor(model => model.lstRole)
                            <div class="form-group row">
                                <div class="control-label col-md-2 col-sm-2 col-xs-2"></div>
                                <div class="col-md-offset-2 col-lg-9 col-sm-9">
                                    <button type="button" class="btn btn-sm btn-success btnSave" title="Lưu"><i class="fa fa-save"></i> Lưu</button>
                                    <button class="btn btn-sm btn-primary" type="button" onclick="cancel();" title="Hủy"><i class="fa fa-reply"></i> Hủy</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>