@model Model.EF.User
@using PagedList.Mvc;
@using Model.Dao
@using Model.EF;
@using ClsCommon;
@{
    ViewBag.Title = "Quản lý người dùng";
    Layout = "~/Areas/Admin/Views/Shared/ecab/_Layouts.cshtml";
}
@section header{
    Danh sách tài khoản doanh nghiệp
}

@section jsFooter{
    <script src="~/assets/jscontroller/userController.js"></script>
    <script src="~/assets/layout/jsindex.js"></script>
    <script>
        function funcLamMoi() {
            window.location.href = window.location.href;
        }
    </script>
}
@{
    var positionDictDao = new PositionDictDao();

}
<div class="row">

    <div class="col-lg-12">

        <div class="panel panel-default">
            @*<div class="panel-heading">
                    Danh sách người dùng
                </div>*@

            <!-- /.panel-heading -->
            <div class="panel-body">
                @using (Html.BeginForm("TaiKhoanCongKhai", "User", FormMethod.Post, new { id = "searchFrom" }))
                {
                    <div class="row form-group">
                        <div class="col-md-10">
                            <div class="SubjectTitle" id="SInfor" runat="server">
                                <legend class="SubjectTitle">
                                    <img alt="" src="@CommonConstants.DomainName/assets/ecab/img/arrow_showless.gif" id="img1" />
                                    <a id="B1" href="#">Tìm kiếm</a>&nbsp;&nbsp;
                                </legend>
                            </div>
                        </div>
                        <div class="col-md-2">
                        </div>
                    </div>
                    <div id="pnlSearch" class="SubjectTitle">
                        <div class="form-group row">
                            @Html.LabelFor(model => model.UserName, "Tên đăng nhập", htmlAttributes: new { @class = "control-label col-lg-2 col-sm-2" })
                            <div class="col-lg-3 col-sm-3">
                                @Html.TextBoxFor(model => model.UserName, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-sm-3">
                                <button type="submit" class="btn btn-success">Tìm kiếm</button>
                                <button type="button" class="btn btn-primary" onclick="funcLamMoi()">Làm mới</button>
                            </div>
                        </div>
                    </div>
                }

                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover" style="margin-bottom:0px">
                        <thead>
                            <tr>
                                <th width="1%" class="text-center"><label><input class="checkbox" type="checkbox" id="CheckAll" /></label></th>
                                <th width="5%" class="text-center">STT</th>
                                <th width="20%" class="text-center">Tài khoản</th>
                                <th width="30%" class="text-center">Tên</th>
                                <th width="10%" class="text-center">Email</th>
                                <th width="30%" class="text-center">Đơn vị</th>
                                <th width="5%" class="text-center">Trạng thái</th>
                                <th width="9%" class="text-center"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @{int i = 1; }
                            @foreach (var item in ViewBag.listUser)
                            {
                                <tr id="row_@item.ID">
                                    <td class="text-center"><input class="checkbox checkSingle" type="checkbox" data-id="@item.ID" /></td>
                                    <td class="text-center">@(i++)</td>
                                    <td>
                                        @item.UserName
                                        <div class="alert alert-success">
                                            <div style="padding:5px;width:200px;">
                                                <span class="position-relative" style="height:35px;">
                                                    @item.GroupID
                                                    <small class="feedLblStyle lblReplyStyle" style="position:absolute;top:-15px;left:0px;font-size:8px;width:110px;">
                                                        <i class="fa fa-circle"></i> Vai trò
                                                    </small>
                                                </span>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        @{
                                            var chucvu = "";
                                            if (@item.ChucVu != null && @item.ChucVu.ToString() != "" && @item.ChucVu.ToString() != "0")
                                            {
                                                chucvu = positionDictDao.ViewDetail(int.Parse(@item.ChucVu.ToString())).Name;
                                            }
                                        }
                                        <a title="" class="btn-view" data-id="@item.ID" data-status="" data-controller="/Admin/User/View/@item.ID">
                                            <span class="position-relative" style="height: 35px;padding-right: 10px;">
                                                <img src="@item.Avatar" class="avatar">
                                                <span class="user-Info-name hidden-sm-down">@item.Name</span>
                                                <small style="position: absolute;top: -12px;left: 32px;font-size: 8px;width: 110px;">@chucvu</small>
                                            </span>
                                        </a>
                                    </td>
                                    <td>@item.Email</td>
                                    <td>@Html.Action("getTitle", "Unit", new { code = item.UnitCode })</td>
                                    <td class="text-center"><a href="#" class="btn-active" data-id="@item.ID">@Html.Raw(item.Status ? "<span title='Kích hoạt' class='btn btn-success btn-xs'><i class='fa fa-check'></i ></span>" : "<span title='Khóa' class='btn btn-default btn-xs'><i class='fa fa-check'></i ></span>")</a></td>
                                    <td class="text-center">
                                        @if (ViewBag.classEdit == "true")
                                        {
                                            <a title="Sửa" class="btn btn-primary btn-xs m-b-10 btn-edit" href="~/Admin/User/Edit/@item.ID?loaitk=ck"><i class="fa fa-pencil"></i></a>
                                        }
                                        @if (ViewBag.classDelete == "true")
                                        {
                                            <a title="Xóa" class="btn btn-danger btn-xs m-b-10 btn-delete" data-id="@item.ID"><i class="fa fa-trash-o"></i></a>
                                        }
                                        <a class="btn btn-primary btn-xs m-b-10 " href="javascript:void(0);" onclick="user.confirmLogin(@item.ID);" title="Đăng nhập"><i class="fa fa-user-md"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
                <!-- pagination -->
                <div class="row">
                    <div class="col-md-6 pull-left">
                        <div style="margin: 20px 0;">
                            <span style="float: left;line-height: 30px">Số bản ghi trên trang </span>
                            <span style="float: left;padding: 5px 5px;">
                                <select style="width:50px" size="1" id="filter_count_perpage">
                                    <option value="5">5</option>
                                    <option value="10">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>
                            </span>
                            <span style="float: left;line-height: 30px;margin-right: 5px;">Hiển thị @ViewBag.fromRecord </span>
                            <span style="float: left;line-height: 30px"> đến @ViewBag.toRecord trong tổng số @ViewBag.Total bản ghi.</span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        @{
                            PagedList.IPagedList<User> listUser = ViewBag.listUser;
                        }
                        @Html.PagedListPager(listUser, page => Url.Action("TaiKhoanCongKhai", new { page }), new PagedListRenderOptions
                        {
                       ContainerDivClasses = new string[] { "pull-right" },
                       FunctionToTransformEachPageLink = (li, a) =>
                       {
                           a.Attributes.Add("class", "page-link");
                           li.InnerHtml = a.ToString();
                           return li;
                       },
                       LiElementClasses = new[] { "page-item" },
                       LinkToFirstPageFormat = "«",
                       LinkToPreviousPageFormat = "Trước",
                       LinkToNextPageFormat = "Tiếp",
                       LinkToLastPageFormat = "»",
                       MaximumPageNumbersToDisplay = 2,
                       DisplayEllipsesWhenNotShowingAllPageNumbers = false,
                   })
                    </div>
                </div>
                <!-- /pagination -->
            </div>
            <!-- /.panel-body -->
        </div>
    </div>
</div>