@using ClsCommon;
@{
    ViewBag.Title = "Đổi mật khẩu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container mb-5">
    <div class="row">
        <div class="group2 col-lg-12 col-sm-12">
            <nav aria-label="breadcrumb" class="mt-4">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="@CommonConstants.DomainName">Hiệp Lợi</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Đổi mật khẩu</li>
                </ol>
            </nav>
            @if (ViewBag.ckError == 1)
            {

                <div class="alert alert-danger" role="alert">
                    @ViewBag.CustomError
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            }
            else if (ViewBag.ckError == 0)
            {
                <style>
                    .tab-pane {
                        display: none;
                    }
                </style>
                <div class="alert alert-success" role="alert">
                    @ViewBag.CustomError
                </div>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <p><a style="color:blue" href="@CommonConstants.DomainName/dang-nhap.html">Bấm vào đây để đăng nhập</a></p>
            }
            <div class="bg-light pt-2 tab-pane">
                <form id="fmDoiMatKhau" method="post" name="fmDoiMatKhau" action="@CommonConstants.DomainName/User/UpdatePassword">
                    <div class="form-group row">
                        <div class=" col-xs-12 col-sm-12 col-md-12">
                            <h3>Đổi mật khẩu</h3>
                        </div>
                    </div>
                    <div class="form-group row">
                        <input type="hidden" id="userId" name="userId" value="@ViewBag.userId" />
                        <div class=" col-xs-12 col-sm-12 col-md-12">
                            <label class=" col-xs-12 col-sm-12 col-md-12">Mật khẩu mới</label>
                            <div class=" col-xs-12 col-sm-12 col-md-12">
                                <input id="newPass" name="newPass" type="password" required="" placeholder="Mật khẩu mới"
                                       oninvalid="this.setCustomValidity('Vui lòng nhập Mật khẩu mới')"
                                       oninput="setCustomValidity('')" class="form-control mb-3">
                            </div>
                            <label class=" col-xs-12 col-sm-12 col-md-12">Xác nhận mật khẩu mới</label>
                            <div class=" col-xs-12 col-sm-12 col-md-12">
                                <input id="xacNhanPass" name="xacNhanPass" type="password" required="" placeholder="Xác nhận mật khẩu mới"
                                       oninvalid="this.setCustomValidity('Vui lòng nhập Xác nhận mật khẩu mới')"
                                       oninput="setCustomValidity('')" class="form-control mb-3">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class=" col-xs-12 col-sm-12 col-md-12">
                            <span class="waves-input-wrapper">
                                <button type="submit" id="btnSend" value=" Cập nhật " class="btn btn-info ">Cập nhật</button>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
