@model Model.EF.Unit

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/ecab/_Layouts.cshtml";
}

@section header{
    Cập nhật nhà sản xuất
}
@section jsFooter{
    <script>
        var my_path = $("#Icons").val();
        $("#ImgUpload_Icons").attr("src", my_path);
    </script>
    <script src="~/assets/jscontroller/UnitController.js"></script>
    <script>
        function cancel() {
            window.history.back();
        }
        $(document).ready(function () {
            console.log("ready!");
        });
    </script>
}
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            @*<div class="panel-heading">
                    Nhập thông tin đơn vị.
                </div>*@
            <div class="panel-body">
                @using (Html.BeginForm("Edit", "Unit", FormMethod.Post, new { id = "formUnit", @class = "frmStyle" }))
                {
                    <div class="row">
                        <div class="col-lg-12">
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.Id)
                            <div class="form-group row">
                                <div class="col-lg-3 col-sm-3">

                                </div>
                                <div class="col-lg-2 col-sm-2">
                                    <div class="form-group row">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <img style="width:100px;height:100px" id="ImgUpload_Icons" />
                                        </div>
                                    </div>
                                    <div class="form-group row ">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            @Html.TextBoxFor(model => model.Icons, htmlAttributes: new { @class = "form-control hidden" })
                                            <input onchange='ChangeFile(this.id);' id="Upload_Icons" class='hidden' type='file' />
                                            <span onclick='clickBrowse(this.id);' id="Upload_Icons" class="btn btn-xs red btn-outline btn-circle m-b-10" style="text-transform: none;width: 100px;"><i class="fa fa-cloud-upload"></i>Chọn Ảnh</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                @Html.LabelFor(model => model.Code, "Mã", htmlAttributes: new { @class = "control-label col-lg-3 col-sm-3" })
                                <div class="col-lg-9 col-sm-9">
                                    @Html.TextBoxFor(model => model.Code, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group row">
                                @Html.LabelFor(model => model.Title, "Tên", htmlAttributes: new { @class = "control-label col-lg-3 col-sm-3" })
                                <div class="col-lg-9 col-sm-9">
                                    @Html.TextBoxFor(model => model.Title, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group row">
                                @Html.LabelFor(model => model.ParentId, "Cấp cha", htmlAttributes: new { @class = "control-label col-lg-3 col-sm-3" })
                                <div class="col-lg-9 col-sm-9">
                                    @Html.DropDownListFor(model => model.ParentId, null, htmlAttributes: new { @class = "form-control select2" })
                                    @Html.ValidationMessageFor(model => model.ParentId, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group row">
                                @Html.LabelFor(model => model.Sort, "Sắp xếp", htmlAttributes: new { @class = "control-label col-lg-3 col-sm-3" })
                                <div class="col-lg-9 col-sm-9">
                                    @Html.TextBoxFor(model => model.Sort, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Sort, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group row">
                                @Html.LabelFor(model => model.DiaChi, "Địa chỉ", htmlAttributes: new { @class = "control-label col-lg-3 col-sm-3" })
                                <div class="col-lg-9 col-sm-9">
                                    @Html.TextBoxFor(model => model.DiaChi, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.DiaChi, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group row">
                                @Html.LabelFor(model => model.DienThoai, "Điện thoại", htmlAttributes: new { @class = "control-label col-lg-3 col-sm-3" })
                                <div class="col-lg-9 col-sm-9">
                                    @Html.TextBoxFor(model => model.DienThoai, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.DienThoai, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group row">
                                @Html.LabelFor(model => model.Fax, htmlAttributes: new { @class = "control-label col-lg-3 col-sm-3" })
                                <div class="col-lg-9 col-sm-9">
                                    @Html.TextBoxFor(model => model.Fax, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Fax, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group row">
                                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-lg-3 col-sm-3" })
                                <div class="col-lg-9 col-sm-9">
                                    @Html.TextBoxFor(model => model.Email, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group row">
                                @Html.LabelFor(model => model.Website, htmlAttributes: new { @class = "control-label col-lg-3 col-sm-3" })
                                <div class="col-lg-9 col-sm-9">
                                    @Html.TextBoxFor(model => model.Website, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Website, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="control-label col-md-3 col-sm-3 col-xs-3"></div>
                                <div class="col-lg-9 col-sm-9">
                                    <button type="button" class="btn btn-sm btn-success btnSave" title="Lưu"><i class="fa fa-save"></i> Lưu</button>
                                    <button class="btn btn-sm btn-primary" type="button" onclick="cancel();" title="Hủy"><i class="fa fa-reply"></i> Hủy</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
